

	.progress-outer {
		width: 95%;
		margin: 10px 2%;
		padding: 3px;
		text-align: right;
		background-color: #f4f4f4;
		border: 1px solid #dcdcdc;
		color: #fff;
		border-radius: 20px;
        height: 22px
	}

	.progress-inner {
		min-width: 15%;
		white-space: nowrap;
		overflow: hidden;
		padding: 1px;
		border-radius: 20px;
        height: 14px;
		background-color: map-get($colors, nhs);
        font-size: 10px
	}
