page-profile {

// background colour of the ion-content
  .content-background{
    background-color: #f4f4f4;
  }

// custom ion-card style
  .card-style{
    background-color: white;
    .item{
      font-size: 14px;
    }
  }

}
