<ion-header>
<ion-navbar hideBackButton="true">
    <button ion-button color="light" menuToggle (click)="signOutMethod()">
      <!-- Sign Out -->
          <ion-icon name="log-out"></ion-icon>
    </button>

    <ion-title text-center class="toolbar-background">
      <p class="title-colour-custom">Home</p>
    </ion-title>

    <ion-buttons end>
      <button ion-button color="light" (click)="goToTestHistory()">
        <p>My Tests</p>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="content-custom">

<ion-card>
  <ion-item class="card-custom">
    <br>
    <ion-avatar>
      <img item-center [src]="userPhoto" class="avatar-size-center">
    </ion-avatar>
    <!-- <p></p> -->
    <br>
    <!-- THIS WILL TAKE THE USER FULL NAME -->
    <p text-center class="user-name">{{firstName}} {{lastName}}
    </p>

    <button ion-button class="position" color="light" clear (click)="goToProfile()">
       edit profile &#160; <ion-icon name="brush"></ion-icon>
    </button>
  </ion-item>

<!-- </ion-card> -->

<!-- <div>
  <p text-center>Select a blood test from the options below</p>
</div> -->

  <!-- <ion-card> -->
    <!-- <ion-card-title>
      Please choose your recent blood test
    </ion-card-title> -->
    </ion-card>
  <ion-list class="item-divider-color">
    <!-- <ion-list-header class="test3">
      Please choose your recent blood test
    </ion-list-header> -->
    <button text-left block class="button" detail-none ion-item *ngFor="let test of tests | async" (click)="datePrompt(test)">


   <!-- <button ion-item color="nhs" *ngFor="let item of items" (click)="showPrompt();">-->
      <ion-icon color="light" name="flask"></ion-icon>
      &#160;&#160;{{test.$key}}
    </button>
  </ion-list>
</ion-content>
