page-home {

// customises the size of the user avatar.
  .avatar-size-center  {
      width: 100% !important;
      height : 100% !important;
      max-width: 200px !important;  //any size
      max-height: 200px !important; //any size

      margin-left: auto;
      margin-right: auto;
      display: block;
  }

// button custom style
  .button{
    background-color: #0099FF;
    font-size: 14px;
    color: #FFF;
    line-height: 50px;
  }

// edit profile button size
  .edit-profile{
    font-size: 20px;
  }

  .toolbar-background {
    background-color: #0099FF;
  }

// customisable ion-card background style
  .content-custom{
    background-color: #f4f4f4;
  }

  .card-custom{
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../assets/images/doc-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

  }

// defines the size, colour and position of the username
.user-name{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

.position{
    background-color: transparent;
    position:absolute;
    top:0;
    right:0;
  }

}
