// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

.content-stable{
  background-color: #000;
}
$background-color: #FFF;

.background-photo{
    background-image:
    // linear-gradient(
    //   rgba(0, 0, 0, 0.6),
    //   rgba(0, 0, 0, 0.6)
    // ),
    url('../assets/images/doc-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.toolbar-background {
  background-color: #0099FF;
  .title-colour-test{
    color: #FFFFFF;
  }
}
.ion-content-test {
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('../assets/images/doc-background.jpg');
  background-repeat: no-repeat;
  background-size:cover;

  .swiper-pagination-bullet
  {
    border: 2px solid white;
  }
}

.title-colour-test{
  color: #FFFFFF;
  font-size: 12px;
  //font-weight: lighter;
}

.signup-page {
  background-image:
  // linear-gradient(
  //   rgba(0, 0, 0, 0.5),
  //   rgba(0, 0, 0, 0.5)
  // ),
  url('../assets/images/doc-background.jpg');
  background-repeat: no-repeat;
  background-size:cover;

  .swiper-pagination-bullet
  {
    border: 2px solid white;
    background-color: #fff;
  }

  .slide-zoom {
    height: 100%;
  }

  .font-size {
    font-size: 11px;
  }
}

.avatar-size-center  {
    width: 100% !important;
    height : 100% !important;
    max-width: 200px !important;  //any size
    max-height: 200px !important; //any size

    margin-left: auto;
    margin-right: auto;
    display: block;
}

$control-height: 0px;
.padding-top-brian {
  padding-top: $control-height+150;
}

.video-container {
    position: relative;
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  nhs:        #0099FF,
  grey:       #999999,
  darkgrey:   #A9A9A9,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
