<!--
  Generated template for the TestHistory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar hideBackButton="true">
    <button ion-button color="light" menuToggle (click)="backButton()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="toolbar-background">
      <p text-center class="title-colour-test">Test History</p>
      </ion-title>
  </ion-navbar>

</ion-header>

<!--Asynchronous pipe allows the whole page to be rendered-->
<p *ngFor="let test of tests | async"></p>

<ion-content class="background">
  <ion-card>
    <ion-list-header text-center>
      Please slide for options
    </ion-list-header>
 <ion-list *ngFor="let d of data">

   <ion-item-sliding (click)="toggleDetails(d)">

    <!-- <div *ngFor="let d of data"> -->
      <ion-item  class="list-style" >
      <!-- <ion-icon color="nhs" item-left [name]="d.icon"></ion-icon> -->
      <b>{{d.testType}}</b>
      <br>
      Taken on: <b> {{d.date}} </b>
      <br><br>
      Result available:

      <!-- once 100%, option to call becomes available - unlikely to implement, cool nevertheless
      <ion-icon item-right name="call"></ion-icon> -->

      <!-- <div class="accordion" *ngIf="d.showDetails"> -->
      <progress-bar [progress]="loadProgress"></progress-bar>

        <!-- <div> -->
        <!-- <button item-left ion-button color="nhs" (click)="goToInfoPage()">
          <ion-icon name="information-circle"></ion-icon>
        </button>
        <button item-right ion-button color="danger" (click)="deleteTest()">
          <ion-icon name="trash"></ion-icon>
        </button> -->
        <!-- </div> -->

      </ion-item>
      <!-- </div> -->
    <!-- </ion-item> -->
    <!-- </div> THIS IS FOR ngFor-->

    <ion-item-options side="right">
      <button ion-button color="nhs" (click)="goToInfoPage()">
        <ion-icon name="information-circle"></ion-icon>
        Info</button>
      <button ion-button color="danger" (click)="deleteTest()">
        <ion-icon name="trash"></ion-icon>
        Del</button>
    </ion-item-options>

    <!-- </div> -->
  </ion-item-sliding>
 </ion-list>
 </ion-card>


</ion-content>
