<!--
  Generated template for the TestHistory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Test History</ion-title>
  </ion-navbar>

</ion-header>

<!--Asynchronous pipe allows the whole page to be rendered-->
<p *ngFor="let test of tests | async"></p>

<ion-content padding>
 <ion-list>
      <div *ngFor="let d of data">
        
    <ion-item padding  (click)="toggleDetails(d)"><ion-icon color="primary" item-left [name]="d.icon"></ion-icon>
      {{d.testType}}    {{d.date}}
      <div class="accordion" *ngIf="d.showDetails">
        <progress-bar [progress]="loadProgress"></progress-bar>
        <div>
          <button ion-button color="nhs" (click)="goToInfoPage()">Show Info</button>
        </div>
      </div>
    </ion-item>
      
    </div>
 </ion-list>


</ion-content>
