<!--
  Generated template for the TestHistory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar hideBackButton="true">
    <button ion-button color="light" menuToggle (click)="backButton()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="toolbar-background">
      <p text-center class="title-colour-custom">Test History</p>
      </ion-title>
  </ion-navbar>

</ion-header>

<!--Asynchronous pipe allows the whole page to be rendered-->
<p *ngFor="let test of tests | async"></p>

<ion-content class="content-background">

  <ion-card>
    <ion-list-header text-center *ngIf="data.length!=0">
      Please slide for options
      
    </ion-list-header>
    
 <ion-list *ngFor="let d of data">

   <ion-item-sliding >

      <ion-item  class="list-style" >
      <b>{{d.testType}}</b>
      <br>
      Taken on: <b> {{d.testDate}} </b>
      <br><br>
      Delivery time elapsed:

      <!-- once 100%, option to call becomes available - unlikely to implement, cool nevertheless
      <ion-icon item-right name="call"></ion-icon> -->

      <progress-bar [progress]="d.progress"></progress-bar>

<!--       if we want to add result date     -->
       Result available: {{d.resultDeliveryDate}}
        
      </ion-item>

    <ion-item-options side="right">
      <button ion-button color="nhs" (click)="goToInfoPage(d.testType)">
        <ion-icon name="information-circle"></ion-icon>
        Info</button>
      <button ion-button color="danger" (click)="deleteTestConfirmation(d.testKey, d.testType)">
        <ion-icon name="trash"></ion-icon>
        Del</button>
    </ion-item-options>

  </ion-item-sliding>
 </ion-list>
 </ion-card>
  
 <p text-center color="darkgrey" *ngIf="data.length == 0">You currently have no blood tests to display.</p>

</ion-content>
